os_auth_url    = "https://api.pub1.infomaniak.cloud/identity/v3"
os_tenant_name = "PCL-XXXXXX"
os_username    = "PCL-XXXXXX"
os_password    = "VOTRE_MOT_DE_PASSE"
os_region      = "dc3-a"
key_pair_name  = "git-hackathon-key"
network_name   = "git-network"
